/* CSS Document */

/* RESET */
* {
	border: 0;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

body {
	background-color: #FFC5D3;
	color: #000;
	font-family: "Comic Sans", Helvetica, Times, Arial, sans-serif;
}

header {
	background-color: #4f0048;
	color: #fff;
}

img {
	padding: 2%;
	float: left;
	width: 30%;
}

nav {
	text-align: center;
	width: 85%;
	margin: 0 auto;
}

nav ul {
	list-style: none;
}

nav li {
	color: #35a9a1;
	border-top: 1px #000 solid;
	border-bottom: 1px #000 solid;
	padding: 0 2%;
	font-size: 1.8em;
	text-decoration: none;
}

h1 {
	font-size: 2.5em;
	text-align: center;
}

h2 {
	font-size: 1.8em;
	padding-top: 2%;
	text-align: center;
}

h3 {
	font-size: 1.2em;
	text-align: center;
}

h5 {
	font-size: .95em;
	text-align: center;
	color: #000;
}

h4 {
	font-size: 1.2em;
}

.two {
	font-size: 2em;
	font-weight: bolder;
}

.three {
	font-size: 1.4em;
	font-weight: bold;
}

#songs {
	padding: 0 2%
}

.song {
	text-decoration: none;
	color: #000;
}

table {
	width: 80%;
	margin: 0 auto;
	border: solid  1px;
	border-collapse: collapse;
	padding: 0;
	text-align: center;
	background-color: #a64c79;
	max-width: 600px;
}

td {
	padding: 10px 0;
	text-align: center;
	border: solid 1px;
	border-collapse: collapse;
}

label {
	padding: 25px 0;
	font-size: 1.5em;
	text-align: center;
}

input {
	height: 1.6em;
	width: 9.8em;
	border-radius: 25px;
	font-size: 1.4em;
	font-weight: bold;
	background-color: #fff;
	color: #000;
	border: 5px inset #1a1874;
	text-align: center;
	padding: 0; 
}

footer {
	clear: both;
	background-color: #de92b8;
	display: block;
	margin: 0 auto;
}

footer p {
	font-size: .8em;
	text-align: center;
	color: #000;
}

@media (min-width: 1020px) {
	nav ul {
		list-style: none;
	}
	
	nav li {
	        border: none;
		padding: 0 2%;
		font-size: 1.4em;
		text-decoration: none;
		display: inline-flex;
	}

	.web-nav {
		display: flex;
    	justify-content: flex-end;
   		align-items: center;
    	padding: 20px 50px;
		box-shadow: 0 1px 8px #fff;
	}
}
