/* CSS Document */

/* RESET */
* {
	border: 0;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

body {
	background-color: #2f051f;
	color: #fff;
	font-family: "Comic Sans", Helvetica, Times, Arial, sans-serif;
}

header {
	background-color: #3b7e1b;
	border-bottom: #c19614 10px solid;
	color: #fff;
}

img {
	padding: 2%;
	float: left;
	width: 30%;
	border-radius: 50px;
}

nav {
	text-align: center;
	width: 85%;
	margin: 0 auto;
}

nav ul {
	list-style: none;
}

nav a li {
	color: #c19614;
	display: inline-block;
	padding: 2%;
	font-size: 1.75em;
	text-decoration: none;
}

p {
	padding-left: 2%;
}

p a {
	color: #c19614;
}

h1 {
	padding: 3% 0 2% 0;
	font-size: 2.5em;
	text-align: center;
	color: #33c787
}

h2 {
	font-size: 1.8em;
	padding-top: 2%;
	text-align: center;
	color: #3e61b4;
}

h3 {
	font-size: 1.2em;
	text-align: center;
}

h5 {
	font-size: .95em;
	text-align: center;
	color: #000;
}

h4 {
	font-size: 1.2em;
}

.two {
	font-size: 2em;
	font-weight: bolder;
	color: #3e61b4;
}

.three {
	font-size: 1.4em;
	font-weight: bold;
}

#songs {
	padding: 0 2%
}

.song {
	text-decoration: none;
	color: #c19614;
}

footer {
	clear: both;
	background-color: #3b7e1b;
	display: block;
	margin: 0 auto;
	border-top: #c19614 10px solid;
}

footer p {
	font-size: .8em;
	text-align: center;
	color: #000;
}

footer nav a li {
	display: inline-block;
	padding: 2%;
	font-size: 1.5em;
	text-decoration: none;
}