/* CSS Document */

/******** 

Colour Palette: 
#2C0703 (Deep Red)
#E92ACA (Lighter Pink)
#A01A7D (Core Pink)
#7FDEFF (Blue)
#FEC9F1 (Purple)
#000 (Black)
#fff (White)

*********/


/* RESET */
* {
	border: 0;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

body {
	background-color: #A01A7D;
	color: #000;
	font-family: "Comic Sans", Helvetica, Times, Arial;
}

header {
	background-color: #7FDEFF;
	color: #fff;
}

img {
	padding: 2%;
	float: left;
	width: 30%;
}

h1 {
	font-size: 2.5em;
	text-align: center;
}

h2 {
	font-size: 1.8em;
	padding-top: 2%;
	text-align: center;
}

h3 {
	font-size: 1.2em;
	text-align: center;
}

h5 {
	font-size: .95em;
	text-align: center;
	color: #000;
}

h4 {
	font-size: 1.2em;
}

#songs {
	padding: 0 2%
}

.song {
	text-decoration: none;
	color: #FEC9F1;
}

table {
	width: 80%;
	margin: 0 auto;
	border: solid  1px;
	border-collapse: collapse;
	padding: 0;
	text-align: center;
}

td {
	padding: 10px 0;
	text-align: center;
	border: solid 1px;
	border-collapse: collapse;
}

label {
	padding: 25px 0;
	font-size: 1.5em;
	text-align: center;
}

input {
	height: 1.6em;
	width: 9.8em;
	border-radius: 25px;
	font-size: 1.4em;
	font-weight: bold;
	background-color: #A01A7D;
	color: #000;
	border: 5px inset #FEC9F1;
	text-align: center;
	padding: 0; 
}

footer {
	background-color: #7FDEFF;
	display: block;
	margin: 0 auto;
}

footer p {
	font-size: .8em;
	text-align: center;
	color: #000;
}

nav {
	text-align: center;
	width: 85%;
	margin: 0 auto;
}

nav ul {
	list-style: none;
}

nav li {
	color: #FEC9F1;
	border-top: 1px #fff solid;
	border-bottom: 1px #fff solid;
	padding: 0 2%;
	font-size: 1.8em;
	text-decoration: none;
}
